<!-- <mat-card class="card card-gradient-hover"  fxLayout="row" fxLayoutAlign="start stretch">
  <div class="card-text" fxFlex="50">
    <h2>Card Title</h2>
    <p>Card Description</p>
  </div>
  <div class="card-gradient" fxFlex="50"></div>
</mat-card>

<button mat-button class="custom-button">
  <mat-icon>add_circle_outline</mat-icon>
  <span>Add Item</span>
</button>
 -->
 <mat-card class="example-card-card" >
    <div fxLayout="row">
  <mat-card class="example-card">
    <!-- <button mat-icon-button class="example-icon"> -->
      <mat-icon class="example-mat-icon">insert_emoticon</mat-icon>
    <!-- </button> -->
    <mat-card-title class="example-mat-card-title">Icon Title</mat-card-title>
    <!-- <div class="ribbon-1"></div> -->
  </mat-card>
  <mat-card class="example-card">
    <!-- <button mat-icon-button class="example-icon"> -->
      <mat-icon class="example-mat-icon">insert_emoticon</mat-icon>
    <!-- </button> -->
    <mat-card-title class="example-mat-card-title">Icon Title</mat-card-title>
  </mat-card>
  <mat-card class="example-card">
    <!-- <button mat-icon-button class="example-icon"> -->
      <mat-icon class="example-mat-icon">insert_emoticon</mat-icon>
    <!-- </button> -->
    <mat-card-title class="example-mat-card-title">Icon Title</mat-card-title>
  </mat-card>
  </div>
  <div fxLayout="row">
  <mat-card class="example-card">
    <!-- <button mat-icon-button class="example-icon"> -->
      <mat-icon class="example-mat-icon">insert_emoticon</mat-icon>
    <!-- </button> -->
    <mat-card-title class="example-mat-card-title">Icon Title</mat-card-title>
  </mat-card>
  <mat-card class="example-card">
    <!-- <button mat-icon-button class="example-icon"> -->
      <mat-icon class="example-mat-icon">insert_emoticon</mat-icon>
    <!-- </button> -->
    <mat-card-title class="example-mat-card-title">Icon Title</mat-card-title>
  
  </mat-card>
  <mat-card class="example-card">
    <!-- <button mat-icon-button class="example-icon"> -->
      <mat-icon class="example-mat-icon">insert_emoticon</mat-icon>
    <!-- </button> -->
    <mat-card-title class="example-mat-card-title">Icon Title</mat-card-title>
  </mat-card>
  </div>
  </mat-card>
  