<mat-card style="background-color: rgb(255, 255, 255);width:100%">
   
        <mat-card-title style="text-align: center;">
                Angular CRUD and Angular Material 
        </mat-card-title>
            <mat-card-content>
                <div>
                    <button mat-flat-button (click)="gotoProduct()">Product CRUD Rest API</button>
                     <button mat-flat-button (click)="gotoUser()" >User Registration</button>
                     <button mat-flat-button (click)="gotoLogin()" >Login</button>
                     <button mat-flat-button (click)="gotoTest()" >test</button>
                </div>
               
            </mat-card-content>

            

</mat-card>
